<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>SVCB</title>
</head>
<body>
<form action="/terr" method="post">
    <div class="content">
        <table>
            <thead>
            <tr>
                <td class="header" colspan="2">Terr v.0.0.1.2</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><label for="login">Login: </label></td>
                <td><input name="login" id="login" type="text" required="required"></td>
            </tr>
            <tr>
                <td><label for="password">Password: </label></td>
                <td><input name="password" id="password" type="password" required="required"></td>
            </tr>
            <tr>
                <td> </td>
                <td class="heighted">
                    <button>Enter</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
</body>
</html>