body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#000;
	background-color:#fff;
}

hi,h2,h3,h4,h5,h6 {
	color:#000;
	line-height:1.1em;
	text-align:center;
}

p {
	color:#000;
}

a:hover {
	text-decoration:none;	
}

.content {
	background-color:#f9f9f9;
	padding:50px;
	text-align:center;
}

.content p {
	margin-top:50px;
	margin-bottom:30px;
	color:#090909;
}

